[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/squirrel"]
	path = deps/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "deps/squall"]
	path = deps/squall
	url = https://github.com/jonigata/squall.git
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps/libjpeg"]
	path = deps/libjpeg
	url = https://github.com/winlibs/libjpeg.git
[submodule "deps/aatc"]
	path = deps/aatc
	url = https://github.com/Sami-Vuorela/aatc.git
[submodule "deps/easy_profiler"]
	path = deps/easy_profiler
	url = https://github.com/yse/easy_profiler
